*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
}

.inicio-pagina {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
 .logo p {
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 20px;
    color: #495E57;
    
}
header {
    background:rgb(245, 247, 248);
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
}
.navegacion a {
    padding: 0px 6px;
    margin: auto;
    padding-right: 20px;
    position: relative;
    font-weight: bold;
    color: #495E57;
    
}
.navegacion a::before {
    bottom: -5px;
    width: 60%;
    left: 0;
}

.navegacion a::after{
    width: 90%;
    bottom: -10px;
    right: 0;
}
.navegacion a:hover{
    color: #151515;
}
.navegacion a:hover::before {
    opacity: 1;
    width: 40%;
}

.navegacion a:hover::after{
    width: 70%;
    opacity: 1;
}
.navegacion a::before,
.navegacion a::after{
    border-bottom: 2px solid red;
    content: '';
    position: absolute;
    opacity: 0;
    transition: 0.5s;

}
.inicio {
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(philipp-katzenberger-iIJrUoeRoCQ-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.inicio .contenido {
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 50px;
}
.inicio .contenido img {
    margin-top: 40px;
    border: 10px solid #DBB5B5;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 45%;
}
.inicio .contenido h1 {
    margin-top: 40px;
    font-size: 42px;
}
.inicio .contenido h2 {
    font-size: 15px;
    font-weight: normal;
}
.inicio .contenido .social a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.inicio .contenido .social a:hover {
    background-color: #DBB5B5;
}